*{
  background-color: pink;
}
h1{
  font-size: 2rem;
}
p{
  padding: 10px;
}
div{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}